@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* CSS-variables declaration */
:root {
  --primary-color: rgb(0, 127, 255);
  --secondary-color: #fff;
  --border-color: rgb(19, 47, 76);
}

body {
  background: rgb(0, 30, 60);
}
